<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pinakbanik.leadingapps">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="LU DAIRY"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ContractActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminlistActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".Alarm"
            android:enabled="true" />

        <service android:name=".AlarmService" />

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true" />
        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ReminderAddActivity"
            android:theme="@style/AppThemee" />
        <activity
            android:name=".ReminderEditActivity"
            android:theme="@style/AppThemee" />
        <activity android:name=".waiver" />
        <activity android:name=".Calculate_waiver" />
        <activity android:name=".Teachers" />
        <activity android:name=".History"></activity>
    </application>

</manifest>